<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dtc</title>
</head>
<body>
    <ul class="header__menu">
        <li class="header__menuItem"><a href="courses.html">Learn</a></li>
        <li class="header__menuItem"><a href="blog.html">Read</a></li>
        <li class="header__menuItem"><a href="podcast.html">Listen</a></li>
        <li class="header__menuItem"><a href="books.html">Books</a></li>
        <li class="header__menuItem"><a href="#">Join</a></li>
        <li class="header__menuItem"><a href="#">Follow us</a></li>
    </ul>

    <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
    action="https://club.us19.list-manage.com/subscribe/post?u=0d7822ab98152f5afc118c176&amp;id=97178021aa"
    class="validate" target="_blank" novalidate>
  <div class="form-row align-items-center justify-content-center">
    <div class="col-auto">
    <label class="sr-only" for="mce-EMAIL">Email</label>
    <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address" required>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_0d7822ab98152f5afc118c176_e52ea9dcd3" tabindex="-1" value="">
    </div>
    <div class="col-auto">
    <button type="submit" name="subscribe" class="btn btn-success">
        <i class="far fa-paper-plane"></i> &nbsp; Join
    </button>
    </div>
  </div>
</form>


   <a href="events.html"><h3>Upcoming events</h3></a> 
    {% for event in events %}
        {{ event.title }} - {{ event.time }} <br>
    {% endfor %}
    <a href="podcast.html"><h3>Latest Podcast </h3></a>
    {{ podcast.title}}
    <a href="blog.html"><h3>Latest Articles</h3></a>
    {% for post in posts %}
        {{ post.title }} - {{ post.created_at }} <br>
    {% endfor %}
    <a href="books.html"><h3>Latest Books</h3></a>
    {{ book.title }} <hr>
    {{ book.description }}
</body>
</html>